 <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyrigh pull-left"><img class="img-responsive" src="{{ "/img/quasar-logo.png" | prepend: site.baseurl }}"></span>
                    <ul class="list-inline social-buttons pull-right">

                        <li><a href="https://github.com/{{site.github_username}}"><i class="fa fa-github fa-2x"></i></a>
                        </li>
                        <li><a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>