 <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyrigh pull-left"><img class="img-responsive" src="{{ "/img/quasar-logo.png" | prepend: site.baseurl }}"><br>
                    <p style="color: white"><small>&copy; 2015 SlamData</small></p>
                    </span>
                    <ul class="list-inline social-buttons pull-right">

                        <li><a href="https://github.com/{{site.github_username}}"><i class="fa fa-github fa-2x"></i></a>
                        </li>
                        <li><a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter fa-2x"></i></a>
                        </li>
                        <li><a href="https://gitter.im/slamdata/quasar"><img src="img/gitter-icon-footer.png" class="img-responsive"></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>